extends 0_layout

block scripts
    script(defer='' src='/javascripts/home.js')

block content 
    // Map section
    #map
    // Information section
    #infos
        #tourName
            table.table.table-striped
                tr
                    th
                    th Name
                
                each n, index in tourData
                    tr
                        td
                            input(type='checkbox' class='chb' id=n._id)
                        td= n.name
        #buttons
            button(id='deleteTourButton' style='margin-bottom: 10px') Löschen

        //Section for information about sights in a certain tour
        #tourSights(style="display: none")
            table.table.table-striped(id="table")
            
    script.
        var tours = !{JSON.stringify(tourData)}