extends 0_layout

block scripts
    
    // Loading turf script
    script(src='https://unpkg.com/@turf/turf@6.3.0/turf.min.js')

    // Loading scripts
    script(src='/javascripts/keys.js')
    script(src='/javascripts/coordinates.js')
    script(defer='' src='/javascripts/map.js')
    script(defer='' src='/javascripts/main.js')

block content 
    // Map section
    #map
    // Information section
    #infos
