extends 0_layout

block scripts

block content 
    // Map section
    #map
    // Information section
    #infos
        table.table.table-striped
            tr
                th
                th Name
                th Sehenswürdigkeiten
                th
                th
            
            each n, index in tourData
                tr
                    td
                        input(type='checkbox' class='chb' id=n._id)
                    td= n.name
                    each x, i in tourData[index].items
                        td= x.features[0].properties.Name

        button(id='deleteTourButton') Löschen

    script.
        var tours = !{JSON.stringify(tourData)}