extends 0_layout

block scripts

    // Loading scripts
    script(defer='' src='/javascripts/editSights.js')
    script(defer='' src='/javascripts/editTours.js')
    script(defer='' src='/javascripts/busStop.js')
    

block content 
    // Map section
    #map
    // Information section
    #infos
        form(id='formAddSightInputFile' name='addSightFile' method='post' action='/edit/addSightInputFile' enctype='multipart/form-data')
            input(id='uploadSightInputFile' type='file' placeholder='sight' name='sightInputFile')
            button(id='btnSubmitFile' type='submit') Submit
        form(id='formAddSightInputText' name='addSightText' method='post' action='/edit/addSightInputText' enctype='multipart/form-data')
            input(id='uploadSightInputText' type='text' placeholder='Insert GeoJSON string' name='sightInputText')
            button(id='btnSubmitText' type='submit') Submit

        table.table.table-striped
            tr
                th
                th Name
                th URL
            
            each n, index in sightData
                tr
                    td
                        input(type='checkbox' class='chb' id=n._id)
                    td= n.features[0].properties.Name
                    td= n.features[0].properties.URL        

        button(id='deleteButton') Löschen

        input(id='tourName' type='text' placeholder='Tour Name' name='tourName')
        button(id='erstelleTourButton') Erstelle Tour

        button(id='haltestelleButton') Nächste Haltestelle anzeigen

    script.
        var sights = !{JSON.stringify(sightData)}